.store-main-div {
	display: none;
	padding-bottom: 90px;
}

.creatTD {
	padding: 10px 5%;
	font-size: 20px;
	color: #15282f;
	border-bottom: #ededed solid 1px;
}

#load {
	color: #000;
	width: 100%;
	padding: 30px 0;
	text-align: center;
	font-size: 22px;
	background-color: #f1f1f1;
	background-image: url(../img/loading4.gif);
	background-position: 40% 50%;
	background-repeat: no-repeat;
	background-size: 30px 30px;
}

.commenBack-head a {
	background: none;
	margin-left: 0;
}

.font-fam-style {
	font-family: "微软雅黑";
}

.myOrderStateList {
	border-bottom: #ededed solid 1px;
	width: 100%;
}

.myOrderStateList ul {
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: 60px;
}

.myOrderStateList ul li {
	height: 100%;
	width: 25%;
	line-height: 60px;
	text-align: center;
	font-size: 20px;
	color: #424244;
	position: relative;
}

.myOrderStateList ul li span {
	width: 20px;
	height: 20px;
	line-height: 20px;
	top: 10px;
	right: 20px;
	font-size: 20px;
	z-index: 20;
	position: absolute;
	background-color: red;
	color: #fff;
	border-radius: 50%;
}

.active {
	color: #d95d17 !important;
	border-bottom: #d95d17 solid 3px;
}

.orderDetails {
	padding: 0 5%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: #e1e1e1 solid 1px;
}

.houseIconImg {
	width: 22px;
	height: 19px;
}

.orderDetails-title {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.storeEntrance {
	margin: 0 15px 0 12px;
	color: #424244;
	font-size: 26px;
}

.back-pir {
	width: 11px;
	height: 18px;
}

.store-main {
	padding: 0 0 20px 0;
	position: relative;
}

.store-main .col-1 {
	width: 17%;
	height: 106px;
	border-radius: 5px;
}

.store-main .col-2 {
	width: 78%;
}

.store-main .col-2 .col-2-row1,
.store-main .col-2 .col-2-row2 {
	display: flex;
	justify-content: space-between;
	font-size: 19px;
}

.col-2-row2 {
	justify-content: flex-start !important;
}

.store-main .col-2 .col-2-row1 {
	margin-top: 10px;
}

.store-main .col-2 .col-2-row2 {
	margin-top: 35px;
}

.store-main .col-2 .col-2-row1 span {
	color: #333333;
	font-size: 20px;
}

.store-main .col-2 .col-2-row2 span {
	color: #848586;
}

.col-2-row2 span {
	margin-right: 5px !important;
}

.col-2-row1 span:first-child {
	width: 60%;
}

.combined {
	width: 100%;
	padding: 0 3%;
	height: 55px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color: #15282f;
	border-bottom: #ededed solid 1px;
}

.combined span {
	margin-left: 20px;
	font-size: 20px;
}


/*.btn-row{
	padding: 20px;
	display: flex;
	justify-content: flex-end;
	border-bottom:#f5f5f5 solid 20px;
}*/

.btn-row span {
	width: 116px;
	height: 47px;
	border: #ff5d00 solid 1px;
	color: #ff5d00;
	text-align: center;
	line-height: 47px;
	font-size: 19px;
	border-radius: 40px;
}

.nullYoat {
	width: 100%;
	height: 145px;
	/*line-height: 145px;*/
	font-size: 22px;
	color: #333333;
	text-align: center;
	display: none;
}

.divOr {
	width: 100%;
	border-bottom: #e1e1e1 solid 1px;
	display: flex;
	justify-content: space-between;
	padding: 20px 5%;
	background-color: #f5f5f5;
}

.goPayment {
	padding: 5px 10px;
	color: #ff5d00;
	border: #ff5d00 solid 1px;
	border-radius: 20px;
	font-size: 20px;
}

.status {
	position: absolute;
	bottom: 34px;
	left: 5%;
	z-index: 11;
	color: #15282f;
	font-size: 20px;
}

#statusVal {
	color: #000;
}

#ddDisplay {
	color: #f65c04;
	font-size: 19px;
	display: none;
}

.deleteOrder {
	padding: 5px 10px;
	color: #ff5d00;
	border: #ff5d00 solid 1px;
	border-radius: 20px;
}

.getCode {
	background-color: #fb9322;
	font-size: 20px;
	width: 200px;
	padding: 5px 8px;
	border-radius: 10px;
	margin: 0 auto;
	color: #fff;
	text-align: center;
	margin-left: 30px;
}

.marks {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.6);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 12;
	display: none;
}

.marks #qrcode {
	position: fixed;
	top: 26%;
	left: 19%;
	z-index: 13;
}